.project_container {
    padding: 2em;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.ButtonProject {
    color: white;
    background-color: rgb(36, 36, 36);
    padding: 5px;
    border-radius: 15px;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block; 
}

.ButtonProject:hover {
    color: rgb(166, 166, 54);
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    .project_container {
    }
    .title_container h1 {
        font-size: 1.5em;
    }
    .ButtonProject {
        font-size: 0.8em;
    }
    .title_container h2 {
        font-size: 1em;
    }
    
}